<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.model.role.mappers.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.project.model.role.pojo.RolePermission">
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="PERMISSION_ID" jdbcType="BIGINT" property="permissionId"/>
    </resultMap>
    <insert id="insert" parameterType="com.project.model.role.pojo.RolePermission">
    insert into ROLE_PERMISSION (ROLE_ID, PERMISSION_ID)
    values (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.project.model.role.pojo.RolePermission">
        insert into ROLE_PERMISSION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="permissionId != null">
                PERMISSION_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="permissionId != null">
                #{permissionId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
</mapper>
